<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="testResultFile"
            xsi:type="File"
            layout="${date:format=HH\:mm\:ss.fff} - [${level}] - ${message}"
            fileName="c:\logs\${shortdate}.log"
            archiveFileName="c:\logs\old\${shortdate}.${###}.log"
            maxArchiveFiles="10"
            archiveEvery="Hour"/>
    
    <target name="console"
            xsi:type="Console"
            layout="${date:format=HH\:mm\:ss.fff} - ${message}"/>
  </targets>

  <rules>
    <!--<logger name="SimplePageFactory.Test*"
            enabled="false"
            writeTo="testResultFile"
            minlevel="Trace"/>-->
    
    <logger name="*"
            enabled="true"
            writeTo="testResultFile"
            minlevel="Trace"/>
  </rules>
</nlog>
